.site-nav {
@extend %list;
margin: -5px;
margin-top: 60px;

@media screen and (min-width:$tablet) {
display: flex;
flex-wrap: wrap;    
}

}

.features-icon{
  @include centeredflex();

  height: 120px;
  margin-bottom: 30px;
  
  background-color: $primary-background-color;
  border-radius: 4px;
}   

.reklamlogo{
    margin: 15px;

    font-size: 14px;
    line-height: 1.71;
    &:last-child{
        margin-bottom: 60px;
    }

        @media screen and (min-width: $tablet ) {
            width: calc((100% - 2 * 30px) / 2);
        }
        @media screen and( min-width: $desktop ) {
            width: calc((100% - 4 * 30px) / 4);
        }
        @media screen and (max-width:$tablet - 1) {
            &:not(:last-child){
                margin-bottom: 30px;
            }
            }
            p {
                margin-top: 0px;
            }
}

.features-text {

    @include font(700, 14px, 1.14, 0.02em);

    @media screen and (max-width: $tablet - 1) {
        text-align: center; 
    }
    
}